{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tools CO2Liderazgo</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'landingpage/favicon.png' %}"/>
    {% comment %}<link rel="apple-touch-icon" sizes="180x180" href="{% static 'landingpage/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'landingpage/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'landingpage/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'landingpage/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'landingpage/favicon-16x16.png' %}">{% endcomment %}
    <link rel="stylesheet" href="{% static 'landingpage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage/css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage/css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage/css/animate.min.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<section class="banner" role="banner">
    <header id="header">
        <div class="header-content clearfix">
            <a class="logo" href="">CO2LIDERAZGO</a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="#herramientas">Herramientas</a></li>
                    <li><a href="#teams">Our Team</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
        <!-- header content -->
    </header>
    <!-- header -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner-text text-center">
                <h1>tecnología para mejorar</h1>

                <p>Descubre que áreas de tu Vida necesitas mejorar y como puedes encontrar el balance</p>
                <a href="#herramientas" class="btn btn-large">Ver herramientas</a>
            </div>
            <!-- banner text -->
        </div>
    </div>
</section>
<!-- banner -->
<section id="herramientas" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 feature text-center">
                <span class="icon icon-tools"></span>

                <div class="feature-content">
                    <h5>Rueda de la vida</h5>

                    <p>¿Realmente estamos tan mal como siempre pensamos? Será mejor que visualicemos un poco más dónde
                        está el problema, ¿te animas?</p>
                    <a class="btn btn-primary" href="{% url 'WebPagRuedaDLV:principal' %}">Entrar</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 feature text-center">
                <span class="icon icon-desktop"></span>

                <div class="feature-content">
                    <h5>Eneagrama de la Personalidad</h5>

                    <p>Inteligencia Emocional en el Trabajo y Eneagrama</p>
                    <a class="btn btn-primary" href="{% url 'Eneagrama:principal' %}">Entrar</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 feature text-center">
                <span class="icon icon-lightbulb"></span>

                <div class="feature-content">
                    <h5>Task Manager</h5>

                    <p>Toma el control de tu dia a dia y mejora tu vida, obten resultados a corto, medio y largo
                        plazo.</p>
                    <a class="btn btn-primary" href="#">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features -->


<section id="teams" class="section teams">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="{% static 'landingpage/images/team-1.jpg' %}" alt="" class="img-responsive">

                    <div class="person-content">
                        <h4>Ruth Wood</h4>
                        <h5 class="role">Founder, CEO</h5>

                        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                            justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam
                            quis risus eget urna mollis ornare vel eu leo.</p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="{% static 'landingpage/images/team-2.jpg' %}" alt="" class="img-responsive">

                    <div class="person-content">
                        <h4>Timothy Reed</h4>
                        <h5 class="role">Co-Founder, Developer</h5>

                        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                            justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam
                            quis risus eget urna mollis ornare vel eu leo.</p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="{% static 'landingpage/images/team-3.jpg' %}" alt="" class="img-responsive">

                    <div class="person-content">
                        <h4>Victoria Valdez</h4>
                        <h5 class="role">UI Designer</h5>

                        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                            justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam
                            quis risus eget urna mollis ornare vel eu leo.</p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="{% static 'landingpage/images/team-4.jpg' %}" alt="" class="img-responsive">

                    <div class="person-content">
                        <h4>Beverly Little</h4>
                        <h5 class="role">Data Scientist</h5>

                        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                            justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam
                            quis risus eget urna mollis ornare vel eu leo.</p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
        </div>
    </div>
</section>
<!-- teams -->


<footer class="footer">
    <!-- footer top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
               Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This Web application was made <i class="fa fa-user" aria-hidden="true"></i> by <a>Carlos
                Iturrios</a>
        </div>
    </div>
</footer>
<!-- footer -->

<script src="{% static 'landingpage/js/jquery.min.js' %}"></script>
<script src="{% static 'landingpage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'landingpage/js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'landingpage/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'landingpage/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'landingpage/js/retina.min.js' %}"></script>
<script src="{% static 'landingpage/js/modernizr.js' %}"></script>
<script src="{% static 'landingpage/js/main.js' %}"></script>
</body>
</html>