certifi==2018.10.15
chardet==3.0.4
Django==1.11.29
django-allauth==0.36.0
django-bootstrap3==9.1.0
django-mathfilters==0.4.0
django-paypal==0.5.0
et-xmlfile==1.0.1
idna==2.7
jdcal==1.4
oauthlib==2.1.0
openpyxl==2.5.6
Pillow==5.1.0
python-openid==2.2.5
pytz==2018.4
reportlab==3.4.0
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.24.1
