{% extends 'site_base.html' %}
{% load static %}
{% block coverimage %}
    <div class="home_background img-responsive" style="background-image: url({% static 'img/aprendizaje.jpg' %});"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="home_title" style="color: #002d5d ;">Crecimiento personal y Aprendizaje.</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
<br>
<form action="{% url 'WebPagRuedaDLV:crecimiento_personal_aprendizaje' %}" method="post" class="form-inline">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h4><strong>
                    ¿{{ pregunta1.pregunta }}
                </strong></h4>
                <p>
                    Mueva los controles deslizantes de abajo para seleccionar su respuesta
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 24%">
        <div class="row">
            <div class="sm-3"><span>INSATISFECHO</span></div>
            <div class="col-sm-6 range-control">
                <input name="slide11" id="inputRange" type="range" min="1" max="10" step="1" value="1"
                data-thumbwidth="5">
                <output name="rangeVal">1</output>
            </div>
            <div class="sm-3"><span>SATISFECHO</span></div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <span style="color: grey;">¿Como se siente con la puntacion que se puso? ( Opcional. )</span>
                <br>
                <textarea class="TArea1" class="TArea1" style="width: 75%; height: 60%;" name="text11" id="TArea1" type="multyline" rows="1"
                maxlength="2000"></textarea>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br></br><br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h4><strong>
                    ¿{{ pregunta2.pregunta }}
                </strong></h4>
                <p>
                    Mueva los controles deslizantes de abajo para seleccionar su respuesta
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 24%">
        <div class="row">
            <div class="sm-3"><span>INSATISFECHO</span></div>
            <div class="col-sm-6 range-control">
                <input name="slide12" id="inputRange" type="range" min="1" max="10" step="1" value="1"
                data-thumbwidth="5">
                <output name="rangeVal">1</output>
            </div>
            <div class="sm-3"><span>SATISFECHO</span></div>
        </div>
    </div>
    <br>
    <br>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <span style="color: grey;">¿Como se siente con la puntacion que se puso? ( Opcional. )</span>
                <br>

                <textarea class="TArea1" name="text12" style="width: 75%; height: 60%;"TAre
                a1" type="multyline" rows="1" maxlength="2000"></textarea>
            </div>
        </div>
    </div>
    <br><br>
    <br>
    <br></br>

    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <button type="submit" class="btn btn-success" style="width: 75%;">Siguiente pregunta</button>
            </div>
        </div>
    </div>
</form>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <a href="{% url 'WebPagRuedaDLV:principal' %}">
                    <i class="fa fa-circle" style="color: black;"></i>
                </a>
                <a href="{% url 'WebPagRuedaDLV:finanzas_dinero' %}">
                    <i class="fa fa-circle" style="color: black;"></i>
                </a>
                <a href="{% url 'WebPagRuedaDLV:salud_vitalidad' %}">
                    <i class="fa fa-circle" style="color: black;"></i>
                </a>
                <a href="{% url 'WebPagRuedaDLV:familia_amigos' %}">
                    <i class="fa fa-circle" style="color: black;"></i>
                </a><a href="{% url 'WebPagRuedaDLV:amor_relaciones' %}">
                    <i class="fa fa-circle" style="color: black;"></i>
                </a><a href="{% url 'WebPagRuedaDLV:crecimiento_personal_aprendizaje' %}">
                    <i class="fa fa-circle-o" style="color: black;"></i>
                </a><a href="{% url 'WebPagRuedaDLV:diversion_estilo_de_vida' %}">
                    <i class="fa fa-circle" style="color: black;"></i>
                </a>
                <a href="{% url 'WebPagRuedaDLV:productividad_personal' %}">
                    <i class="fa fa-circle" style="color: black;"></i>
                </a>
            </div>
        </div>
    </div>
  {% endblock %}

  {% block script %}

  <script type="text/javascript">
    $(document).ready(function () {
        $('input[type="range"]').on('input', function () {
            var control = $(this),
            controlMin = control.attr('min'),
            controlMax = control.attr('max'),
            controlVal = control.val(),
            controlThumbWidth = control.data('thumbwidth');
            var range = controlMax - controlMin;
            var position = ((controlVal - controlMin) / range) * 100;
            var positionOffset = Math.round(controlThumbWidth * position / 100) - (controlThumbWidth / 2);
            var output = control.next('output');
            output
            .css('left', 'calc(' + position + '% - ' + positionOffset + 'px)')
            .text(controlVal);
        });
    });
</script>

{% endblock %}