{% extends 'base.html' %}

{% block 'main' %}
<br>
<form action="{% url 'WebPagRuedaDLV:psicologica' %}" method="post" class="form-inline">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                    <strong>
                        ¿Cómo valoraría su tranquilidad, estabilidad emocional, y minuto a minuto la psicología?
                    </strong>
                    <p>
                        Mueva los controles deslizantes de abajo para seleccionar su respuesta
                    </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <span>INSATISFECHO</span>
                &nbsp;
            	<input style="width: 70%" name="slide3" id="ex13" type="text" data-slider-ticks="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]'/> 
                &nbsp;
                <span>SATISFECHO</span>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <span style="color: grey;">Ahora que te has calificado, ¿cómo esta puntuación te hacen sentir?(opcional).</span>
                <br>
                <textarea style="width: 100%;" name="text3"  id="TArea1" type="multyline" rows="1" maxlength="2000"></textarea>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                    <strong>
                        ¿Cómo le gustaría sentir emocional y psicológicamente cada día?
                    </strong>
                    <p>
                        Mueva los controles deslizantes de abajo para seleccionar su respuesta
                    </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <span>INSATISFECHO </span>
                <input style="width: 80%;" name="slide4"  id="ex6" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/><span> SATISFECHO</span>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <span style="color: grey;">Ahora que te has calificado, ¿cómo esta puntuación te hacen sentir?(opcional).</span>
                <br>
                <textarea name="text4" style="width: 100%;" id="TAre
                a1" type="multyline" rows="1" maxlength="2000"></textarea>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <button type="submit" class="btn btn-success" style="width: 100%;">Siguiente pregunta</button>
            </div>
        </div>
    </div>
</form>
<br>

<div class="container text-center" style="text-align: center;">
    <ul class="breadcrumb" style=" background-color:  white;">
        <li><a href="{% url 'WebPagRuedaDLV:principal' %}"><i style="color: black;" class="fa fa-circle"></i></a></li>
        &nbsp;
        <li><i class="fa fa-circle-o"></i></li>
        &nbsp;
        <li><a href="{% url 'WebPagRuedaDLV:relacionesAmor' %}"><i style="color: black;" class="fa fa-circle"></i></a></li>
        &nbsp;
        <li><a href="{% url 'WebPagRuedaDLV:productividadPersonal' %}"><i style="color: black;" class="fa fa-circle"></i></a></li>
        &nbsp;
    </ul>
</div>
{% endblock %}

{% block 'script' %}

<script type="text/javascript">
$(function() {
    
       $("#ex13").slider({
            ticks: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            ticks_labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
            ticks_snap_bounds: 30
        });
   
       $("#ex6").slider();
       $("#ex6").on("slide", function(slideEvt) {
       $("#ex6SliderVal").text(slideEvt.value);
        });
});// Document OnLoad
</script>

{% endblock %}