{% extends 'base.html' %}
{% load static %}
{% block 'style' %}
	<link rel="stylesheet" href="{% static 'css/register-style.css' %}"/>
{% endblock %}

{% block 'main' %}
<form action="{% url 'WebPagRuedaDLV:resultados' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <div id="login-box">
      <div class="left">
        <h1>Registrate para obtener los resultados</h1>
        
        <input type="text" name="username" placeholder="Nombre" />
        <input type="text" name="lasname" placeholder="Apellidos" />
        <input type="text" name="email" placeholder="E-mail" />
        <button type="submit" class="btn btn-success center">
          ¡Ver tus resultados!
        </button>
      </div>
      
      <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>
        
        <button class="social-signin facebook">Registrar con facebook</button>
        <button class="social-signin twitter">Registrar con Twitter</button>
        <button class="social-signin google">Registrar con Google+</button>
      </div>
      <div class="or">OR</div>
    </div>
  </div>
</form>
{% endblock %}