{% extends 'base.html' %}

{% block 'main' %}

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
    	<div class="container">
    		<strong>Tu espacio.</strong>
    	</div>
   		<div align="left" id="chartjs-radar">
 			<canvas align="center" id="canvas"></canvas>
		</div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
   		<div>
   			<strong>¿QUÉ ES Y PARA QUÉ SIRVE LA RUEDA DE LA VIDA?</strong>
   			<p>
			La rueda de la vida nos ayuda a valorar el grado de felicidad que tenemos en la actualidad. Es un círculo que dividimos entre 8 secciones y cada una de ellas representa un área de nuestra vida.

			Es una técnica muy sencilla y gratificante, simplemente hacemos un círculo y lo dividimos en tantas porciones cómo queramos y nombramos esas porciones con diferentes aspectos de nuestra vida.
			</p>
    	</div>
		</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
   		<div class="text-center">
   			<strong>Tu espacio.</strong>
   			<h2>7.5 %</h2>
    	</div>
		</div>
    </div>
  </div>
</div>

<hr style="background-color: black; width: 80%;">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
   		<div class="text-center" style="background-color: #acff30;">
   			<br>
   			<h1>Salud y vitalidad</h1>
   			<br>
    	</div>
    </div>
  </div>
</div>
<div class="container">
 	<div class="row">
    	<div class="col-sm text-center">
     		<h3>Tu estas:</h3>
      		<h1>1</h1>
    	</div>
    	<div class="col-sm text-center">
      		<h3>Te gustaria estar:</h3>
      		<h1>2</h1>
    	</div>
	    <div class="col-sm text-center">
	     	<h3>Tu espacio:</h3>
	     	<h1>1</h1>
	    </div>
  	</div>
  	<div class="row">
  		<div class="col-sm">
    		<p>Existe una brecha importante entre lo que es hoy en día, la salud y el lugar en el que sabe que se necesita para tener la calidad de vida que deseas. Sin duda, este es el área que se debe abordar en primer lugar; el cuerpo físico es el punto de partida para su viaje. ¿Por qué? Porque la mayor su nivel de energía, su cuerpo es más eficiente. El más eficiente de su cuerpo, mejor se siente, y cuanto más que usted va a utilizar su talento para producir resultados sobresalientes.</p>
    	</div>
  	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
   		<div class="text-center" style="background-color: #ef0b2e;">
   			<br>
   			<h1>El amor y las relaciones</h1>
   			<br>
    	</div>
    </div>
  </div>
</div>
<div class="container">
 	<div class="row">
    	<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
     		<h3>Tu estas:</h3>
      		<h1>1</h1>
    	</div>
    	<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
      		<h3>Te gustaria estar:</h3>
      		<h1>2</h1>
    	</div>
	    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
	     	<h3>Tu espacio:</h3>
	     	<h1>1</h1>
	    </div>
  	</div>
  	<div class="row">
  		<div class="col-sm">
    		<p>Existe una brecha considerable entre su vida del amor donde está hoy y donde quiera que esté. Pero no desespere! Usted sería sorprendido cuántas personas están insatisfechos con su relación, pero no hacen nada para mejorar o hacer un cambio que ponerlos en una mejor. Considere la posibilidad de cambiar tu perspectiva a uno de dar en lugar de tomar. La mayoría de la gente entrar en una relación con el fin de conseguir algo; están tratando de encontrar a alguien que lo hagan sentir bien.</p>
    	</div>
  	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
   		<div class="text-center" style="background-color: #846363;">
   			<br>
   			<h1>Carrera y negocios</h1>
   			<br>
    	</div>
    </div>
  </div>
</div>
<div class="container">
 	<div class="row">
    	<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
     		<h3>Tu estas:</h3>
      		<h1>1</h1>
    	</div>
    	<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
      		<h3>Te gustaria estar:</h3>
      		<h1>2</h1>
    	</div>
	    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
	     	<h3>Tu espacio:</h3>
	     	<h1>1</h1>
	    </div>
  	</div>
  	<div class="row">
  		<div class="col-sm">
    		<p>Usted tiene una brecha de cierre si su vida profesional va a estar al nivel que desee. Tal vez usted no tiene un objetivo que le inspira! Crear una visión para su última carrera - uno que ilumina, te hace sentir verdaderamente feliz. Entonces concentrarse en ese objetivo, ya que la orientación va, corrientes de energía. Una de las razones por las que pocos de nosotros lograr lo que realmente queremos es que nosotros nunca dirigir nuestra atención; nunca nos concentremos nuestra energía.</p>
    	</div>
  	</div>
</div> 

<form>
	{% csrf_token %}
	<div class="form-group">
		<div class="container">
		  	<div class="row">
		    	<div class="col-sm-12">
		   			<div class="text-center" style="background-color: #ededef;">
		   				<br>
		   				<h4>Aprenda cómo puede tomar de inmediato, la acción masiva para fortalecer sus áreas más débiles.</h4>
		   				<br>
		   				<input class="btn btn-success" type="submit" value="HABLAR CON UN ESPECIALISTA DE RESULTADOS PERSONALES.">
		   				<br>
		   				<br>
		    		</div>
		    	</div>
  			</div>
		</div>
	</div>
</form>

{% endblock %}

{% block 'script' %}

<script type="text/javascript">
$(function() {		
		window.chartColors = {
		  red: 'rgb(255, 99, 132)',
		};

		window.randomScalingFactor = function() {
		  return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
		}

		var randomScalingFactor = function() {
		  return Math.round(Math.random() * 100);
		};

		var now = moment();
		var dataTime1 = moment("2016-12-18T14:58:54.026Z");
		var dataTime2 = moment("2017-01-18T20:58:54.026Z");
		var dataTime3 = moment("2017-02-15T08:58:54.026Z");
		var label1 =moment.duration(dataTime1.diff(now)).humanize(true);
		var label2 =moment.duration(dataTime2.diff(now)).humanize(true);
		var label3 =moment.duration(dataTime3.diff(now)).humanize(true);

		var color = Chart.helpers.color;
		var config = {
		  type: 'radar',
		  data: {
		    labels: [
		      "Carrera|Empresa", "Finanzas|Dinero", "Salud|","Familia|Amigos", "Amor|Relaciones", "Crecimiento personal|Aprendizaje","Diversion|Estilo de vida", "Productividad personal"],
		    datasets: [{
		      label: label1,
		      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
		      borderColor: window.chartColors.red,
		      pointBackgroundColor: window.chartColors.red,
		      data: [8,8,8,8,8,10,8,7],
		      notes: ["I am pretty happy","I am isolated","none","none","none","none","none","none"]
		    }, ]
		  },
		  options: {
		    legend: {
		      position: 'top',
		      display: false,
		    },
		    title: {
		      display: false,
		      text: 'RUEDA DE LA VIDA'
		    },
		    scale: {
		      ticks: {
		        beginAtZero: true
		      }
		    },
		    tooltips:{
		      enabled:false,
		      callbacks:{
		        label: function(tooltipItem, data){
		          var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
		          //This will be the tooltip.body
		          return datasetLabel + ': ' + tooltipItem.yLabel +': '+ data.datasets[tooltipItem.datasetIndex].notes[tooltipItem.index];
		        }
		      },
		      custom: function(tooltip){
		        // Tooltip Element
		      var tooltipEl = document.getElementById('chartjs-tooltip');
		      if (!tooltipEl) {
		        tooltipEl = document.createElement('div');
		        tooltipEl.id = 'chartjs-tooltip';
		        tooltipEl.innerHTML = "<table></table>"
		        document.body.appendChild(tooltipEl);
		      }
		      // Hide if no tooltip
		      if (tooltip.opacity === 0) {
		        tooltipEl.style.opacity = 0;
		        return;
		      }
		      // Set caret Position
		      tooltipEl.classList.remove('above', 'below', 'no-transform');
		      if (tooltip.yAlign) {
		        tooltipEl.classList.add(tooltip.yAlign);
		      } else {
		        tooltipEl.classList.add('no-transform');
		      }
		      function getBody(bodyItem) {
		        return bodyItem.lines;
		      }
		      // Set Text
		      if (tooltip.body) {
		        var titleLines = tooltip.title || [];
		        var bodyLines = tooltip.body.map(getBody);
		        var innerHtml = '<thead>';
		        titleLines.forEach(function(title) {
		          innerHtml += '<tr><th>' + title + '</th></tr>';
		        });
		        innerHtml += '</thead><tbody>';
		        bodyLines.forEach(function(body, i) {
		          var colors = tooltip.labelColors[i];
		          var style = 'background:' + colors.backgroundColor;
		          style += '; border-color:' + colors.borderColor;
		          style += '; border-width: 2px';
		          var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
		          innerHtml += '<tr><td>' + span + body + '</td></tr>';
		        });
		        innerHtml += '</tbody>';
		        var tableRoot = tooltipEl.querySelector('table');
		        tableRoot.innerHTML = innerHtml;
		      }
		      var position = this._chart.canvas.getBoundingClientRect();
		      // Display, position, and set styles for font
		      tooltipEl.style.opacity = 1;
		      tooltipEl.style.left = position.left + tooltip.caretX + 'px';
		      tooltipEl.style.top = position.top + tooltip.caretY + 'px';
		      tooltipEl.style.fontFamily = tooltip._fontFamily;
		      tooltipEl.style.fontSize = tooltip.fontSize;
		      tooltipEl.style.fontStyle = tooltip._fontStyle;
		      tooltipEl.style.padding = tooltip.yPadding + 'px ' + tooltip.xPadding + 'px';
		      }
		    }
		  }
		};
		window.onload = function() {
		  window.myRadar = new Chart(document.getElementById("canvas"), config);
		};
	var colorNames = Object.keys(window.chartColors);
});
</script>

{% endblock %}