{% extends 'eneagrama/app-base.html' %}
{% block main %}
    <div class="right_col" role="main">
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" align="right">
                <strong>Progreso</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="progress">
                    <div class="progress">
                        {% if preguntas == 0 %} &nbsp; 0% {% else %}
                            <div class="progress-bar progress-bar-success" data-transitiongoal="{{ preguntas }}"
                                 style="color: black">{{ preguntas }}%
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Perfil de Personalidad - Eneagrama</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form class="form-horizontal" method="post" action="{% url 'Eneagrama:parteCinco' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 81. Cuando conozco a alguien por primera vez... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaOchentayUno"
                                                        {% if pregunta_ochenta_uno.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                Estoy calmado y seguro de mi mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaOchentayUno"
                                                        {% if pregunta_ochenta_uno.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Soy conversador y divertido
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 82. Por lo general tiendo a ser... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaOchentayDos"
                                                        {% if pregunta_ochenta_dos.valor == 'E' %}
                                                       checked="checked" {% endif %}> Pesimista
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaOchentayDos"
                                                        {% if pregunta_ochenta_dos.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                Optimista
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 83. He preferido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaOchentayTres"
                                                        {% if pregunta_ochenta_tres.valor == 'H' %}
                                                       checked="checked" {% endif %}>
                                                Estar en mi propio mundo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaOchentayTres"
                                                        {% if pregunta_ochenta_tres.valor == 'G' %}
                                                       checked="checked" {% endif %}>
                                                Que el mundo sepa que estoy aquí
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 84. He sufrido de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaOchentayCuatro"
                                                        {% if pregunta_ochenta_cuatro.valor == 'B' %}
                                                       checked="checked" {% endif %}> Nerviosismo, inseguridad y
                                                confusión
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D"
                                                       name="preguntaOchentayCuatro"
                                                        {% if pregunta_ochenta_cuatro.valor == 'D' %}
                                                       checked="checked" {% endif %}>
                                                Impaciencia, perfeccionismo y molestia
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 85. En ocasiones me doy cuenta de que actúo... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaOchentayCinco"
                                                        {% if pregunta_ochenta_cinco.valor == 'F' %}
                                                       checked="checked" {% endif %}>
                                                De manera muy íntima y personal
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C" name="preguntaOchentayCinco"
                                                        {% if pregunta_ochenta_cinco.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                De manera fría y distante
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 86. Me he perdido de muchas cosas por... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaOchentaySeis"
                                                        {% if pregunta_ochenta_seis.valor == 'E' %}
                                                       checked="checked" {% endif %}> No sentirme con la capacidad de
                                                aprovechar las oportunidades
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaOchentaySeis"
                                                        {% if pregunta_ochenta_seis.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Haber seguido demasiadas posibilidades
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 87. Para tomar acciones usualmente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaOchentaySiete"
                                                        {% if pregunta_ochenta_siete.valor == 'H' %}
                                                       checked="checked" {% endif %}>
                                                Tomo demasiado tiempo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaOchentaySiete"
                                                        {% if pregunta_ochenta_siete.valor == 'D' %}
                                                       checked="checked" {% endif %}>
                                                Soy demasiado rápido
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 88. Para tomar decisiones... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaOchentayOcho"
                                                        {% if pregunta_ochenta_ocho.valor == 'B' %}
                                                       checked="checked" {% endif %}> Me cuesta trabajo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaOchentayOcho"
                                                        {% if pregunta_ochenta_ocho.valor == 'G' %}
                                                       checked="checked" {% endif %}>
                                                Soy muy eficiente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 89. He tenido la tendencia... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaOchentayNueve"
                                                        {% if pregunta_ochenta_nueve.valor == 'F' %}
                                                       checked="checked" {% endif %}> Abrumar a la gente
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaOchentayNueve"
                                                        {% if pregunta_ochenta_nueve.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                No ser asertivo con la gente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 90. Por lo general he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaNoventa"
                                                        {% if pregunta_noventa.valor == 'C' %}
                                                       checked="checked" {% endif %}> Una persona ecuánime
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E" name="preguntaNoventa"
                                                        {% if pregunta_noventa.valor == 'E' %}
                                                       checked="checked" {% endif %}> Una
                                                persona que cambia mucho de estado de ánimo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 91. Cuando no estoy seguro de que hacer... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaNoventayUno"
                                                        {% if pregunta_noventa_uno.valor == 'B' %}
                                                       checked="checked" {% endif %}> Busco el consejo de otras personas
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaNoventayUno"
                                                        {% if pregunta_noventa_uno.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Intento diferentes cosas para ver que sale mejor
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 92. Me ha resultado preocupante... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaNoventayDos"
                                                        {% if pregunta_noventa_dos.valor == 'F' %}
                                                       checked="checked" {% endif %}> Que me excluya de actividades
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaNoventayDos"
                                                        {% if pregunta_noventa_dos.valor == 'D' %}
                                                       checked="checked" {% endif %}>
                                                Que otros me distraigan de lo que quiero
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 93. Cuando me siento enojado... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaNoventayTres"
                                                        {% if pregunta_noventa_tres.valor == 'G' %}
                                                       checked="checked" {% endif %}> He tendido a regañar a la gente
                                                airadamente
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C" name="preguntaNoventayTres"
                                                        {% if pregunta_noventa_tres.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                He tendido a aislarme de la gente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 94. Cuando se trata de dormir... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaNoventayCuatro"
                                                        {% if pregunta_noventa_cuatro.valor == 'H' %}
                                                       checked="checked" {% endif %}> He presentado problemas para
                                                hacerlo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A"
                                                       name="preguntaNoventayCuatro"
                                                        {% if pregunta_noventa_cuatro.valor == 'A' %}
                                                       checked="checked" {% endif %}> Lo hago con mucha facilidad
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 95. Con frecuencia he tratado de descubrir... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaNoventayCinco"
                                                        {% if pregunta_noventa_cinco.valor == 'F' %}
                                                       checked="checked" {% endif %}> Como acercarme a los demás
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaNoventayCinco"
                                                        {% if pregunta_noventa_cinco.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                Que es lo que los demás quieren de mi
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 96. Por lo general he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaNoventaySeis"
                                                        {% if pregunta_noventa_seis.valor == 'G' %}
                                                       checked="checked" {% endif %}> Proactivo y directo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaNoventaySeis"
                                                        {% if pregunta_noventa_seis.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Ingenioso y excitable
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 97. Cuando veo que otras personas cometen un error... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaNoventaySiete"
                                                        {% if pregunta_noventa_siete.valor == 'E' %}
                                                       checked="checked" {% endif %}> A menudo no he dicho nada
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaNoventaySiete"
                                                        {% if pregunta_noventa_siete.valor == 'D' %}
                                                       checked="checked" {% endif %}>
                                                He ayudado a que se den cuenta de ello
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 98. He sido una persona... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaNoventayOcho"
                                                        {% if pregunta_noventa_ocho.valor == 'I' %}
                                                       checked="checked" {% endif %}> Tormentosa y con sentimientos
                                                volátiles
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaNoventayOcho"
                                                        {% if pregunta_noventa_ocho.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                Ecuánime y bastante estable en mis sentimientos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 99. Cuando me siento incómodo con la gente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaNoventayNueve"
                                                        {% if pregunta_noventa_nueve.valor == 'C' %}
                                                       checked="checked" {% endif %}> He permanecido cordial a pesar de
                                                lo que siento
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaNoventayNueve"
                                                        {% if pregunta_noventa_nueve.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                Lo he demostrado de una u otra forma
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 100. Me ha causado dificultades con la gente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E" name="preguntaCien"
                                                        {% if pregunta_cien.valor == 'E' %}
                                                       checked="checked" {% endif %}>
                                                El ser muy delicado y tomar las cosas de manera personal
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaCien"
                                                        {% if pregunta_cien.valor == 'H' %}
                                                       checked="checked" {% endif %}> El hecho
                                                de que no me importen las convenciones sociales
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                                        <a style="width: 40%" class="btn btn-info"
                                           href="{% url 'Eneagrama:parteCuatro' %}">Regresar
                                        </a>
                                        <button type="submit" style="width: 40%" class="btn btn-success">Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}