{% extends 'eneagrama/app-base.html' %}
{% block main %}
    <div class="right_col" role="main">
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" align="right">
                <strong>Progreso</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" data-transitiongoal="28">28%</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Perfil de Personalidad - Eneagrama</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form class="form-horizontal" method="post" action="{% url 'Eneagrama:parteDos' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 21. He sentido la necesidad de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="G"
                                                       name="preguntaVeintiUno">
                                                Ser un pilar de apoyo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="C"
                                                       name="preguntaVeintiUno"> Actuar de forma perfecta
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 22. He estado interesado en... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="H"
                                                       name="preguntaVeintiDos">
                                                Hacer preguntas difíciles y mantener mi independencia
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="A"
                                                       name="preguntaVeintiDos"> Mantener mi estabilidad y tranquilidad
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 23. Me he mostrado... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="B"
                                                       name="preguntaVeintiTres">
                                                Desconfiado y escéptico
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="F"
                                                       name="preguntaVeintiTres"> Cariñoso y sentimental
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 24. Me ha preocupado con frecuencia... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="I"
                                                       name="preguntaVeintiCuatro"> Estar perdiéndome de algo mejor
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="G"
                                                       name="preguntaVeintiCuatro">
                                                Que alguien abuse de mi si me descuido
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 25. He molestado a la gente cuando... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="E"
                                                       name="preguntaVeintiCinco">
                                                Me aparto de ellos
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="D"
                                                       name="preguntaVeintiCinco"> Les digo que tienen que hacer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 26. Suelo ponerme ansioso... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="A"
                                                       name="preguntaVeintiSeis">
                                                Si hay demasiado agitación y estimulación
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="I"
                                                       name="preguntaVeintiSeis"> Si hay demasiada calma y tranquilidad
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 27. Generalmente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="B"
                                                       name="preguntaVeintiSiete">
                                                He contado con mis amigos y ellos conmigo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="C"
                                                       name="preguntaVeintiSiete"> No he contado con nadie, hago mejor
                                                las cosas por mi mismo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 28. He tendido ha... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="H"
                                                       name="preguntaVeintiOcho">
                                                Ser desapegado de las cosas y preocupado por ellos
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="E"
                                                       name="preguntaVeintiOcho"> Padecer cambios de humor y ser
                                                ensimismado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 29. Siempre me ha gustado... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="G"
                                                       name="preguntaVeintiNueve">
                                                Retar a la gente y "sacudirla"
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="F"
                                                       name="preguntaVeintiNueve"> Reconfortar y tranquilizar a la gente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 30. He sido una persona... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="I"
                                                       name="preguntaTreinta">
                                                Sociable
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="D"
                                                       name="preguntaTreinta"> Seria y disciplinada
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 31. Me incomoda... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="A"
                                                       name="preguntaTreintayUno">
                                                Sobresalir demasiado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="C"
                                                       name="preguntaTreintayUno"> No distinguirme
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 32. Siempre me ha importado más... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="H"
                                                       name="preguntaTreintayDos">
                                                Perseguir mis intereses
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="B"
                                                       name="preguntaTreintayDos"> Tener estabilidad y seguridad
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 33. Cuando he tenido conflicto con los demás... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="E"
                                                       name="preguntaTreintayTres">
                                                Tiendo a retraerme
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="G"
                                                       name="preguntaTreintayTres"> Rara vez me retracto
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 34. Con la gente que interactúo... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="A"
                                                       name="preguntaTreintayCuatro"> He cedido y me han manejado como
                                                quieren
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="D"
                                                       name="preguntaTreintayCuatro">
                                                He sido intransigente y demandante
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 35. He sido apreciado por... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="I"
                                                       name="preguntaTreintayCinco">
                                                Mi ingenio y espíritu invencible
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="F"
                                                       name="preguntaTreintayCinco"> Mi calor humano e interés en los
                                                demás
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 36. Al relacionarme con otras personas... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="C"
                                                       name="preguntaTreintaySeis">
                                                He querido dar una buena impresión
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="H"
                                                       name="preguntaTreintaySeis"> No me he esforzado mucho por dar una
                                                buena impresión
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 37. He dependido de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="B"
                                                       name="preguntaTreintaySiete">
                                                Mi perseverancia y sentido común
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="E"
                                                       name="preguntaTreintaySiete"> Mi imaginación e inspiración
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 38. He sido básicamente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="A"
                                                       name="preguntaTreintayOcho">
                                                Tranquilo y complaciente
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="G"
                                                       name="preguntaTreintayOcho"> Determinado y asertivo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 39. Ser aceptado y querido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="C"
                                                       name="preguntaTreintayNueve">
                                                Ha sido una prioridad para mi y lo he buscado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="D"
                                                       name="preguntaTreintayNueve"> No ha sido prioridad para mi y no
                                                me he esforzado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 40. Cuando siento la presión de los demás... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="H"
                                                       name="preguntaCuarenta">
                                                Me he vuelto retraído
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" required class="flat" value="I"
                                                       name="preguntaCuarenta"> Me he vuelto más asertivo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                                        <a style="width: 40%" class="btn btn-info"
                                           href="{% url 'Eneagrama:parteUno' %}">Regresar
                                        </a>
                                        <button type="submit" style="width: 40%" class="btn btn-success">Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}