{% extends 'eneagrama/app-base.html' %}
{% block main %}
    <div class="right_col" role="main">
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" align="right">
                <strong>Progreso</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="progress">
                    <div class="progress">
                        {% if preguntas == 0 %} &nbsp; 0% {% else %}
                            <div class="progress-bar progress-bar-success" data-transitiongoal="{{ preguntas }}"
                                 style="color: black">{{ preguntas }}%
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Perfil de Personalidad - Eneagrama</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form class="form-horizontal" method="post" action="{% url 'Eneagrama:parteCuatro' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 61. He tenido la tendencia a ser... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="D"
                                                       name="preguntaSesentayUno"
                                                        {% if pregunta_sesenta_uno.valor == 'D' %}
                                                       checked="checked" {% endif %}>
                                                Ambicioso y duro conmigo mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E" name="preguntaSesentayUno"
                                                        {% if pregunta_sesenta_uno.valor == 'E' %}
                                                       checked="checked" {% endif %}>
                                                Emotivo y un poco indisciplinado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 62. He tratado de mantener mi vida... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaSesentayDos"
                                                        {% if pregunta_sesenta_dos.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Dinámica, intensa e interesante
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaSesentayDos"
                                                        {% if pregunta_sesenta_dos.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                Estable, pacífica y confiable
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 63. Sin importar lo que ha pasado en mi vida... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaSesentayTres"
                                                        {% if pregunta_sesenta_tres.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                He dudado de mis propias habilidades
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C" name="preguntaSesentayTres"
                                                        {% if pregunta_sesenta_tres.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                Directo,
                                                He confiado mucho en mis propias habilidades
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 64. Cuando se ha tratado de mis sentimientos... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSesentayCuatro"
                                                        {% if pregunta_sesenta_cuatro.valor == 'E' %}
                                                       checked="checked" {% endif %}> Pienso y me aferro a ellos durante
                                                mucho tiempo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaSesentayCuatro"
                                                        {% if pregunta_sesenta_cuatro.valor == 'H' %}
                                                       checked="checked" {% endif %}>
                                                Los minimizo y no les presto mucha atención
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 65. Le he dado a mucha gente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaSesentayCinco"
                                                        {% if pregunta_sesenta_cinco.valor == 'F' %}
                                                       checked="checked" {% endif %}>
                                                Atención y protección
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaSesentayCinco"
                                                        {% if pregunta_sesenta_cinco.valor == 'G' %}
                                                       checked="checked" {% endif %}>
                                                Dirección y motivación
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 66. Para conmigo mismo he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="D"
                                                       name="preguntaSesentaySeis"
                                                        {% if pregunta_sesenta_seis.valor == 'D' %}
                                                       checked="checked" {% endif %}>
                                                Serio y estricto
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaSesentaySeis"
                                                        {% if pregunta_sesenta_seis.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Liberal y permisivo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 67. Por lo general he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaSesentaySiete"
                                                        {% if pregunta_sesenta_siete.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                Asertivo y orientado a la excelencia
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaSesentaySiete"
                                                        {% if pregunta_sesenta_siete.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                Un
                                                Modesto y he caminado a mi propio ritmo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 68. He estado orgulloso(a) de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaSesentayOcho"
                                                        {% if pregunta_sesenta_ocho.valor == 'H' %}
                                                       checked="checked" {% endif %}>
                                                Mi claridad y objetividad
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaSesentayOcho"
                                                        {% if pregunta_sesenta_ocho.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                Mi confiabilidad y compromiso
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 69. Ha sido importante para mi... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSesentayNueve"
                                                        {% if pregunta_sesenta_nueve.valor == 'E' %}
                                                       checked="checked" {% endif %}>
                                                Entender mis sentimientos y he profundizado mucho en mi mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaSesentayNueve"
                                                        {% if pregunta_sesenta_nueve.valor == 'G' %}
                                                       checked="checked" {% endif %}>
                                                Hacer muchas cosas y no he profundizado en mi mismo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 70. Me veo a mi mismo como una persona... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="A"
                                                       name="preguntaSetenta"
                                                        {% if pregunta_setenta.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                Alegre y relajado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaSetenta"
                                                        {% if pregunta_setenta.valor == 'D' %}
                                                       checked="checked" {% endif %}> Seria
                                                y digna
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 71. Por lo general he tenido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaSetentayUno"
                                                        {% if pregunta_setenta_uno.valor == 'I' %} checked="checked" {% endif %}>
                                                Una mente ágil y una energía sin límites
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F" name="preguntaSetentayUno"
                                                        {% if pregunta_setenta_uno.valor == 'F' %} checked="checked" {% endif %}>
                                                Un corazón amable y mucha dedicación
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 72. La recompensa y el reconocimiento personal... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaSetentayDos"
                                                        {% if pregunta_setenta_dos.valor == 'C' %} checked="checked" {% endif %}>
                                                Me ha hecho dedicarme a ciertas actividades que me conducen a ello
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaSetentayDos"
                                                        {% if pregunta_setenta_dos.valor == 'H' %} checked="checked" {% endif %}>
                                                No me he motivado y he preferido hacer lo que realmente me interesa
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 73. Las obligaciones sociales... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSetentayTres"
                                                        {% if pregunta_setenta_tres.valor == 'E' %} checked="checked" {% endif %}>
                                                Nunca han sido una de mis prioridades
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaSetentayTres"
                                                        {% if pregunta_setenta_tres.valor == 'B' %} checked="checked" {% endif %}>
                                                Las he tomado muy seriamente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 74. En la mayoría de las ocasiones... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaSetentayCuatro"
                                                        {% if pregunta_setenta_cuatro.valor == 'G' %} checked="checked" {% endif %}> He preferido tomar el liderazgo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A"
                                                       name="preguntaSetentayCuatro"
                                                        {% if pregunta_setenta_cuatro.valor == 'A' %} checked="checked" {% endif %}>
                                                He preferido que alguien más tome el liderazgo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 75. Mis valores y estilo de vida... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaSetentayCinco"
                                                        {% if pregunta_setenta_cinco.valor == 'C' %} checked="checked" {% endif %}>
                                                Han cambiado varias veces con el paso del tiempo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaSetentayCinco"
                                                        {% if pregunta_setenta_cinco.valor == 'D' %} checked="checked" {% endif %}>
                                                Se han mantenido constante con el paso del tiempo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 76. Por lo general no he tenido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaSetentaySeis"
                                                        {% if pregunta_setenta_seis.valor == 'I' %} checked="checked" {% endif %}>
                                                Mucha auto-disciplina
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaSetentaySeis"
                                                        {% if pregunta_setenta_seis.valor == 'H' %} checked="checked" {% endif %}>
                                                Mucha conexión con la gente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 77. He tenido la tendencia a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSetentaySiete"
                                                        {% if pregunta_setenta_siete.valor == 'E' %} checked="checked" {% endif %}>
                                                Guardar mi afecto y que los otros vengan hacia a mi
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F" name="preguntaSetentaySiete"
                                                        {% if pregunta_setenta_siete.valor == 'F' %} checked="checked" {% endif %}>
                                                Dar mi afecto libremente y buscar a los demás
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 78. He tenido la tendencia a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaSetentayOcho"
                                                        {% if pregunta_setenta_ocho.valor == 'B' %} checked="checked" {% endif %}>
                                                Ser pesimista y pensar en los peores escenarios
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaSetentayOcho"
                                                        {% if pregunta_setenta_ocho.valor == 'A' %} checked="checked" {% endif %}>
                                                Ser optimista y pensar que todo saldrá bien
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 79. La gente suele confiar en mi porque... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaSetentayNueve"
                                                        {% if pregunta_setenta_nueve.valor == 'G' %} checked="checked" {% endif %}>
                                                Soy seguro y puedo cuidar de ellos
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaSetentayNueve"
                                                        {% if pregunta_setenta_nueve.valor == 'D' %} checked="checked" {% endif %}>
                                                Soy justo y hago lo correcto
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 80. Por lo general he estado... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaOchenta"
                                                        {% if pregunta_ochenta.valor == 'H' %} checked="checked" {% endif %}>
                                                Tan metido en mis propios proyectos que me he aislado de los demás
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F" name="preguntaOchenta"
                                                        {% if pregunta_ochenta.valor == 'F' %} checked="checked" {% endif %}> Tan
                                                involucrado con los demás que he descuidado mis propios proyectos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                                        <a style="width: 40%" class="btn btn-info"
                                           href="{% url 'Eneagrama:parteTres' %}">Regresar
                                        </a>
                                        <button type="submit" style="width: 40%" class="btn btn-success">Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}