{% extends 'eneagrama/app-base.html' %}
{% block main %}
    <div class="right_col" role="main">
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" align="right">
                <strong>Progreso</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" data-transitiongoal="83">83%</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Perfil de Personalidad - Eneagrama</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form class="form-horizontal" method="post" action="{% url 'Eneagrama:parteSeis' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 101. Me he caracterizado por ser alguien que... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoUno"> Interviene y rescata a la gente
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaCientoUno">
                                                Enseña a los demás a ayudarse a si mismos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 102. Generalmente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaCientoDos"> Me ha gustado dejarme llevar y llegar a
                                                situaciones extremas
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaCientoDos"> Me
                                                ha gustado mantener siempre el control de mi persona
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 103. Una de mis preocupaciones ha sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaCientoTres"> Lograr más que los demás
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaCientoTres">
                                                Hacer que los demás estén bien
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 104. Mi forma de pensar ha sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCientoCuatro"> Con especulación y aplicando mi
                                                imaginación y curiosidad
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaCientoCuatro">
                                                Muy práctico para mantener las cosas funcionando
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 105. Una de mis principales habilidades ha sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaCientoCinco"> Mi capacidad de hacerme cargo de las
                                                cosas
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E" name="preguntaCientoCinco">
                                                Mi capacidad de describir los estados de ánimo de los demás
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 106. Por lo general... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="D"
                                                       name="preguntaCientoSeis"> Insisto en que las cosas se hagan
                                                correctamente, aún cuando esto hiciera sentir a la gente incómoda
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaCientoSeis"> No
                                                me ha gustado sentirme presionado, y por eso no me ha gustado presionar
                                                a los demás
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 107. Me hace sentir orgulloso... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoSiete"> Saber lo importante que soy en la
                                                vida de los demás
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaCientoSiete">
                                                La forma en la que me abro y disfruto de nuevas experiencias
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 108. La gente me percibe con frecuencia como... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaCientoOcho"> Presentable y admirable
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaCientoOcho">
                                                Inusual y diferente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 109. Casi siempre he acabado haciendo... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaCientoNueve"> Lo que he tenido que hacer
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E" name="preguntaCientoNueve">
                                                Lo que he querido hacer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 110. Las situaciones de alto nivel de estrés y complicación... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaCientoDiez"> Me han llamado mucho la atención y me
                                                agradan
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaCientoDiez"> No
                                                me gustan y prefiero evitarlas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 111. Me hace sentir orgulloso mi habilidad de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaCientoOnce"> Ser flexible, las cosas cambian
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaCientoOnce">
                                                Mantenerme firme en mis creencias
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 112. Mi estilo se ha inclinado a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCientoDoce"> Las limitaciones y la austeridad
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaCientoDoce"> El
                                                exceso y la extra limitación
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 113. Me doy cuenta en mi vida... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoTrece"> Mi salud y bienestar han sufrido por
                                                mi deseo enorme de ayudar a otros
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E" name="preguntaCientoTrece">
                                                Mis relaciones han sufrido, por mi deseo enorme de atender mis propias
                                                necesidades
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 114. Por lo general he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="A"
                                                       name="preguntaCientoCatorce"> Abierto e ingenuo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaCientoCatorce">
                                                Cauto y prudente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 115. La gente se ha alejado de mi por... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaCientoQuince"> Mi agresividad
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaCientoQuince">
                                                Mi rigidez
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 116. Ha sido una alta prioridad para mi... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoDieciseis"> Ayudar y responder a las
                                                necesidades de otros
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H"
                                                       name="preguntaCientoDieciseis"> Encontrar formas nuevas de hacer
                                                las cosas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 117. Me doy cuenta que por lo general... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaCientoDiecisiete"> He sido de ideas fijas y
                                                persistentes en la persecución de mis metas
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I"
                                                       name="preguntaCientoDiecisiete"> He preferido explorar varios
                                                cursos de acción para ver a donde conducen
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 118. Me atraen de manera especial aquellas situaciones que... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaCientoDieciocho"> Me despiertan emociones profundas
                                                e intensas
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A"
                                                       name="preguntaCientoDieciocho"> Me hacen sentir una profunda
                                                calma y paz interior
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 119. He preferido por lo general... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCientoDiecinueve"> Seguir mis intereses antes que
                                                tener resultados prácticos
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G"
                                                       name="preguntaCientoDiecinueve"> Ser practico y tener resultados
                                                acertados
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 120. He tenido una profunda necesidad... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaCientoVeinte"> Pertenecer
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaCientoVeinte">
                                                Estar equilibrado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 121. Por lo general... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoVeinteyUno"> He buscado demasiada cercanía
                                                con mis amistades
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C"
                                                       name="preguntaCientoVeinteyUno"> He puesto demasiada distancia
                                                con mis amistades
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 122. He tenido la tendencia a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaCientoVeinteyDos"> Seguir pensando en lo que ha
                                                sucedido en el pasado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I"
                                                       name="preguntaCientoVeinteyDos"> Anticiparme a las cosas que van
                                                a suceder en el futuro
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                                        <a style="width: 40%" class="btn btn-info"
                                           href="{% url 'Eneagrama:parteCinco' %}">Regresar
                                        </a>
                                        <button type="submit" style="width: 40%" class="btn btn-success">Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}