{% extends 'eneagrama/app-base.html' %}
{% block main %}
    <div class="right_col" role="main">
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" align="right">
                <strong>Progreso</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="progress">
                    <div class="progress">
                        {% if preguntas == 0 %} &nbsp; 0% {% else %}
                            <div class="progress-bar progress-bar-success" data-transitiongoal="{{ preguntas }}"
                                 style="color: black">{{ preguntas }}%
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Perfil de Personalidad - Eneagrama</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form class="form-horizontal" method="post" action="{% url 'Eneagrama:parteSiete' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 123. He tendido a ver a la gente como... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCientoVeintiTres"
                                                        {% if pregunta_cien_veinte_tres.valor == 'H' %}
                                                       checked="checked" {% endif %}> Entrometida y demandante
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D"
                                                       name="preguntaCientoVeintiTres"
                                                        {% if pregunta_cien_veinte_tres.valor == 'D' %}
                                                       checked="checked" {% endif %}> Desorganizada e irresponsable
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 124. Por lo general... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaCientoVeintiCuatro"
                                                        {% if pregunta_cien_veinte_cuatro.valor == 'B' %}
                                                       checked="checked" {% endif %}> No he tenido mucha confianza
                                                en mi mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G"
                                                       name="preguntaCientoVeintiCuatro"
                                                        {% if pregunta_cien_veinte_cuatro.valor == 'G' %}
                                                       checked="checked" {% endif %}> Solamente he confiado en mi
                                                mismo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 125. Creo que he sido demasiado... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="A"
                                                       name="preguntaCientoVeintiCinco"
                                                        {% if pregunta_cien_veinte_cinco.valor == 'A' %}
                                                       checked="checked" {% endif %}> Pasivo y poco involucrado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F"
                                                       name="preguntaCientoVeintiCinco"
                                                        {% if pregunta_cien_veinte_cinco.valor == 'F' %}
                                                       checked="checked" {% endif %}> Controlador y manipulador
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 126. Mis propias dudas... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaCientoVeintiSeis"
                                                        {% if pregunta_cien_veinte_seis.valor == 'E' %}
                                                       checked="checked" {% endif %}> Me han hecho detenerme en mi
                                                camino
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C"
                                                       name="preguntaCientoVeintiSeis"
                                                        {% if pregunta_cien_veinte_seis.valor == 'C' %}
                                                       checked="checked" {% endif %}> No afectan la forma en la que
                                                hago las cosas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 127. Si me dan opción a elegir... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaCientoVeintiSiete"
                                                        {% if pregunta_cien_veinte_siete.valor == 'I' %}
                                                       checked="checked" {% endif %}> Escojo algo nuevo, me gusta
                                                ampliar mi mundo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B"
                                                       name="preguntaCientoVeintiSiete"
                                                        {% if pregunta_cien_veinte_siete.valor == 'B' %}
                                                       checked="checked" {% endif %}> Escojo algo que ya se que me
                                                gusta
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 128. Por lo general... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoVeintiOcho"
                                                        {% if pregunta_cien_veinte_ocho.valor == 'F' %}
                                                       checked="checked" {% endif %}> He proporcionado mucho contacto
                                                físico para demostrarle a otros lo que siento por ellos
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D"
                                                       name="preguntaCientoVeintiOcho"
                                                        {% if pregunta_cien_veinte_ocho.valor == 'D' %}
                                                       checked="checked" {% endif %}> Creo que el verdadero amor no
                                                depende del contacto físico
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 129. Cuando he tenido que confrontar a alguien... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaCientoVeintiNueve"
                                                        {% if pregunta_cien_veinte_nueve.valor == 'G' %}
                                                       checked="checked" {% endif %}> He sido directo y rudo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C"
                                                       name="preguntaCientoVeintiNueve"
                                                        {% if pregunta_cien_veinte_nueve.valor == 'C' %}
                                                       checked="checked" {% endif %}> Suelo salirme por la tangente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 130. Los temas perturbadores o atemorizantes... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCientoTreinta"
                                                        {% if pregunta_cien_treinta.valor == 'H' %}
                                                       checked="checked" {% endif %}> Me han resultado atractivos
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaCientoTreinta"
                                                        {% if pregunta_cien_treinta.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                Prefiero no invertir tiempo en ellos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 131. Me he metido en problemas con la gente por ser... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoTreintayUno"
                                                        {% if pregunta_cien_treinta_uno.valor == 'F' %}
                                                       checked="checked" {% endif %}> Entrometido y metiche
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B"
                                                       name="preguntaCientoTreintayUno"
                                                        {% if pregunta_cien_treinta_uno.valor == 'B' %}
                                                       checked="checked" {% endif %}> Evasivo y poco comunicativo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 132. Me resulta preocupante... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaCientoTreintayDos"
                                                        {% if pregunta_cien_treinta_dos.valor == 'G' %}
                                                       checked="checked" {% endif %}> No tener los recursos para
                                                cumplir con las responsabilidades que he tomado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I"
                                                       name="preguntaCientoTreintayDos"
                                                        {% if pregunta_cien_treinta_dos.valor == 'I' %}
                                                       checked="checked" {% endif %}> No tener la autodisciplina para
                                                concentrarme en aquello que realmente me llena
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 133. Por lo general he sido una persona muy... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaCientoTreintayTres"
                                                        {% if pregunta_cien_treinta_tres.valor == 'E' %}
                                                       checked="checked" {% endif %}> Intuitivo e individualista
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D"
                                                       name="preguntaCientoTreintayTres"
                                                        {% if pregunta_cien_treinta_tres.valor == 'D' %}
                                                       checked="checked" {% endif %}> Organizada y responsable
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 134. Uno de mis principales problemas ha sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="A"
                                                       name="preguntaCientoTreintayCuatro"
                                                        {% if pregunta_cien_treinta_cuatro.valor == 'A' %}
                                                       checked="checked" {% endif %}> Sobreponerme a la inercia y
                                                al "status quo"
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I"
                                                       name="preguntaCientoTreintayCuatro"
                                                        {% if pregunta_cien_treinta_cuatro.valor == 'I' %}
                                                       checked="checked" {% endif %}> Poder tomar las cosas con
                                                más calma
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 135. Cuando me he sentido inseguro he reaccionado siendo... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaCientoTreintayCinco"
                                                        {% if pregunta_cien_treinta_cinco.valor == 'C' %}
                                                       checked="checked" {% endif %}> Arrogante y engreído
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B"
                                                       name="preguntaCientoTreintayCinco"
                                                        {% if pregunta_cien_treinta_cinco.valor == 'B' %}
                                                       checked="checked" {% endif %}> Defensivo y con muchos
                                                argumentos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 136. Encuentro que por lo general he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCientoTreintaySeis"
                                                        {% if pregunta_cien_treinta_seis.valor == 'H' %}
                                                       checked="checked" {% endif %}> De mente abierta y dispuesto a
                                                probar nuevas formas de hacer las cosas
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E"
                                                       name="preguntaCientoTreintaySeis"
                                                        {% if pregunta_cien_treinta_seis.valor == 'E' %}
                                                       checked="checked" {% endif %}> Abierto y dispuesto a
                                                compartir mis sentimientos con los demás
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 137. Me he presentado frente a los demás como... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaCientoTreintaySiete"
                                                        {% if pregunta_cien_treinta_siete.valor == 'G' %}
                                                       checked="checked" {% endif %}> Más fuerte de lo que en
                                                realidad soy
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F"
                                                       name="preguntaCientoTreintaySiete"
                                                        {% if pregunta_cien_treinta_siete.valor == 'F' %}
                                                       checked="checked" {% endif %}> Más preocupado de lo que en
                                                realidad soy
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 138. Generalmente he seguido a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="D"
                                                       name="preguntaCientoTreintayOcho"
                                                        {% if pregunta_cien_treinta_ocho.valor == 'D' %}
                                                       checked="checked" {% endif %}> Mi razonamiento y mi
                                                conciencia
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I"
                                                       name="preguntaCientoTreintayOcho"
                                                        {% if pregunta_cien_treinta_ocho.valor == 'I' %}
                                                       checked="checked" {% endif %}> Mis impulsos y mis
                                                sentimientos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 139. Las grandes adversidades me han hecho sentir... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaCientoTreintayNueve"
                                                        {% if pregunta_cien_treinta_nueve.valor == 'C' %}
                                                       checked="checked" {% endif %}> Más fuerte y determinado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A"
                                                       name="preguntaCientoTreintayNueve"
                                                        {% if pregunta_cien_treinta_nueve.valor == 'A' %}
                                                       checked="checked" {% endif %}> Más descorazonado y resignado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 140. Por lo general he preferido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaCientoCuarenta"
                                                        {% if pregunta_cien_cuarenta.valor == 'B' %}
                                                       checked="checked" {% endif %}> Tener una red protectora en la que
                                                pueda caer
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H"
                                                       name="preguntaCientoCuarenta"
                                                        {% if pregunta_cien_cuarenta.valor == 'H' %}
                                                       checked="checked" {% endif %}> Vivir al límite y dependen lo
                                                menos posible de otros
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 141. Noto que por lo general... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaCientoCuarentayUno"
                                                        {% if pregunta_cien_cuarenta_uno.valor == 'G' %}
                                                       checked="checked" {% endif %}> He tenido que ser fuerte para
                                                otros, por lo tanto no he tenido tiempo de ocuparme de mis sentimientos
                                                y temores
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E"
                                                       name="preguntaCientoCuarentayUno"
                                                        {% if pregunta_cien_cuarenta_uno.valor == 'E' %}
                                                       checked="checked" {% endif %}> He tenido dificultad para
                                                manejar mis sentimientos y temores por lo tanto me ha sido difícil ser
                                                fuerte para otros
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 142. A menudo me he preguntado por qué... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="A"
                                                       name="preguntaCientoCuarentayDos"
                                                        {% if pregunta_cien_cuarenta_dos.valor == 'A' %}
                                                       checked="checked" {% endif %}> La gente pone tanta atención
                                                en lo negativo habiendo tantas cosas maravillosas en la vida
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D"
                                                       name="preguntaCientoCuarentayDos"
                                                        {% if pregunta_cien_cuarenta_dos.valor == 'D' %}
                                                       checked="checked" {% endif %}> La gente es tan feliz habiendo
                                                tantos problemas en la vida
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 143. He hecho un esfuerzo por no dar la apariencia de ser... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCientoCuarentayTres"
                                                        {% if pregunta_cien_cuarenta_tres.valor == 'F' %}
                                                       checked="checked" {% endif %}> Egoista
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I"
                                                       name="preguntaCientoCuarentayTres"
                                                        {% if pregunta_cien_cuarenta_tres.valor == 'F' %}
                                                       checked="checked" {% endif %}> Aburrido
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 144. He evitado la intimidad cuando me ha dado miedo... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCientoCuarentayCuatro"
                                                        {% if pregunta_cien_cuarenta_cuatro.valor == 'H' %}
                                                       checked="checked" {% endif %}> Estar abrumado por las
                                                necesidades de la gente
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C"
                                                       name="preguntaCientoCuarentayCuatro"
                                                        {% if pregunta_cien_cuarenta_cuatro.valor == 'C' %}
                                                       checked="checked" {% endif %}> No estar a la altura de las
                                                expectativas de la gente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                                        <a style="width: 40%" class="btn btn-info"
                                           href="{% url 'Eneagrama:parteSeis' %}">Regresar
                                        </a>
                                        <button type="submit" style="width: 44%" class="btn btn-success">Finalizar
                                            evaluación
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}