{% extends 'eneagrama/app-base.html' %}
{% block main %}
    <div class="right_col" role="main">
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" align="right">
                <strong>Progreso</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" data-transitiongoal="56">56%</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Perfil de Personalidad - Eneagrama</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form class="form-horizontal" method="post" action="{% url 'Eneagrama:parteCuatro' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 61. He tenido la tendencia a ser... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaSesentayUno">
                                                Ambicioso y duro conmigo mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaSesentayUno">
                                                Emotivo y un poco indisciplinado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 62. He tratado de mantener mi vida... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaSesentayDos">
                                                Dinámica, intensa e interesante
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaSesentayDos">
                                                Estable, pacífica y confiable
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 63. Sin importar lo que ha pasado en mi vida... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaSesentayTres">
                                                He dudado de mis propias habilidades
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C" name="preguntaSesentayTres">
                                                Directo,
                                                He confiado mucho en mis propias habilidades
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 64. Cuando se ha tratado de mis sentimientos... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSesentayCuatro"> Pienso y me aferro a ellos durante
                                                mucho tiempo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaSesentayCuatro">
                                                Los minimizo y no les presto mucha atención
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 65. Le he dado a mucha gente... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaSesentayCinco">
                                                Atención y protección
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaSesentayCinco">
                                                Dirección y motivación
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 66. Para conmigo mismo he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="D"
                                                       name="preguntaSesentaySeis">
                                                Serio y estricto
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaSesentaySeis">
                                                Liberal y permisivo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 67. Por lo general he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaSesentaySiete">
                                                Asertivo y orientado a la excelencia
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaSesentaySiete">
                                                Un
                                                Modesto y he caminado a mi propio ritmo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 68. He estado orgulloso(a) de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaSesentayOcho">
                                                Mi claridad y objetividad
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaSesentayOcho">
                                                Mi confiabilidad y compromiso
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 69. Ha sido importante para mi... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSesentayNueve">
                                                Entender mis sentimientos y he profundizado mucho en mi mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaSesentayNueve">
                                                Hacer muchas cosas y no he profundizado en mi mismo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 70. Me veo a mi mismo como una persona... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="A"
                                                       name="preguntaSetenta">
                                                Alegre y relajado
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaSetenta"> Seria
                                                y digna
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 71. Por lo general he tenido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaSetentayUno">
                                                Una mente ágil y una energía sin límites
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F" name="preguntaSetentayUno">
                                                Un corazón amable y mucha dedicación
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 72. La recompensa y el reconocimiento personal... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaSetentayDos">
                                                Me ha hecho dedicarme a ciertas actividades que me conducen a ello
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaSetentayDos">
                                                No me he motivado y he preferido hacer lo que realmente me interesa
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 73. Las obligaciones sociales... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSetentayTres">
                                                Nunca han sido una de mis prioridades
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaSetentayTres">
                                                Las he tomado muy seriamente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 74. En la mayoría de las ocasiones... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaSetentayCuatro"> He preferido tomar el liderazgo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A"
                                                       name="preguntaSetentayCuatro">
                                                He preferido que alguien más tome el liderazgo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 75. Mis valores y estilo de vida... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaSetentayCinco">
                                                Han cambiado varias veces con el paso del tiempo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaSetentayCinco">
                                                Se han mantenido constante con el paso del tiempo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 76. Por lo general no he tenido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="I"
                                                       name="preguntaSetentaySeis">
                                                Mucha auto-disciplina
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaSetentaySeis">
                                                Mucha conexión con la gente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 77. He tenido la tendencia a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaSetentaySiete">
                                                Guardar mi afecto y que los otros vengan hacia a mi
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F" name="preguntaSetentaySiete">
                                                Dar mi afecto libremente y buscar a los demás
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 78. He tenido la tendencia a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaSetentayOcho">
                                                Ser pesimista y pensar en los peores escenarios
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaSetentayOcho">
                                                Ser optimista y pensar que todo saldrá bien
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 79. La gente suele confiar en mi porque... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaSetentayNueve">
                                                Soy seguro y puedo cuidar de ellos
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaSetentayNueve">
                                                Soy justo y hago lo correcto
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 80. Por lo general he estado... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaOchenta">
                                                Tan metido en mis propios proyectos que me he aislado de los demás
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F" name="preguntaOchenta"> Tan
                                                involucrado con los demás que he descuidado mis propios proyectos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                                        <button type="submit" style="width: 80%" class="btn btn-success">Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}