{% extends 'eneagrama/app-base.html' %}
{% block main %}
    <div class="right_col" role="main">
        <br>
        {% if preguntas > 0.0 %}
            <div id="Modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">x</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Bienvenido de nuevo.</h4>
                        </div>
                        <div class="modal-body">
                            <h4>¿Quieres comenzar desde cero la evaluación o remotarla donde la dejaste?</h4>
                            {% if preguntas == 100.0 %}
                                <h4 style="color: black">Tu evaluación ha sido completada, puedes dirigirte al final
                                    para obtener tus
                                    resultados. </h4>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Comenzar desde cero.
                            </button>
                            {% if preguntas >= 13.0 and preguntas < 27 %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'Eneagrama:parteDos' %}">Retomar mi evualación.</a>
                            {% elif preguntas >= 27 and preguntas < 41 %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'Eneagrama:parteTres' %}">Retomar mi evualación.</a>
                            {% elif preguntas >= 41 and preguntas < 55 %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'Eneagrama:parteCuatro' %}">Retomar mi evualación.</a>
                            {% elif preguntas >= 55 and preguntas < 69 %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'Eneagrama:parteCinco' %}">Retomar mi evualación.</a>
                            {% elif preguntas >= 69 and preguntas < 84 %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'Eneagrama:parteSeis' %}">Retomar mi evualación.</a>
                            {% elif preguntas >= 84 and preguntas < 100 %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'Eneagrama:parteSiete' %}">Retomar mi evualación.</a>
                            {% elif preguntas == 100 %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'Eneagrama:pago_formato' %}">Obtener los resultados.</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" align="right">
                <strong>Progreso</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="progress">
                    {% if preguntas == 0 %} &nbsp; 0% {% else %}
                        <div class="progress-bar progress-bar-success" data-transitiongoal="{{ preguntas }}"
                             style="color: black">{{ preguntas }}%
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Perfil de Personalidad - Eneagrama</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form class="form-horizontal" method="post" action="{% url 'Eneagrama:parteUno' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 1. He sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E" name="preguntaUno"
                                                        {% if pregunta_uno.valor == 'E' %}
                                                       checked="checked" {% endif %}>
                                                Romántico e imaginativo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="B" name="preguntaUno"
                                                        {% if pregunta_uno.valor == 'B' %}
                                                       checked="checked" {% endif %}> Práctico
                                                y realista
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 2. Tengo tendencia a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaDos"
                                                        {% if pregunta_dos.valor == 'G' %}
                                                       checked="checked" {% endif %}>
                                                Tener confrontaciones
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaDos"
                                                        {% if pregunta_dos.valor == 'A' %}
                                                       checked="checked" {% endif %}> Evitar
                                                confrontaciones
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 3. Típicamente he sido...</h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C" name="preguntaTres"
                                                        {% if pregunta_tres.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                Diplomático, simpático y ambicioso
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaTres"
                                                        {% if pregunta_tres.valor == 'D' %}
                                                       checked="checked" {% endif %}> Directo,
                                                formal e idealista
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 4. Tengo tendencia a ser... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaCuatro"
                                                        {% if pregunta_cuatro.valor == 'H' %}
                                                       checked="checked" {% endif %}> Enfocado e intenso
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaCuatro"
                                                        {% if pregunta_cuatro.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Espontáneo y amante de la diversión
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 5. He sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaCinco"
                                                        {% if pregunta_cinco.valor == 'F' %}
                                                       checked="checked" {% endif %}>
                                                Una persona hospitalaria y disfruto nuevos amigos en mi vida
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E" name="preguntaCinco"
                                                        {% if pregunta_cinco.valor == 'E' %}
                                                       checked="checked" {% endif %}> Una
                                                persona privada y no me relaciono mucho con otros
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 6. Ha sido difícil para mi... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B" name="preguntaSeis"
                                                        {% if pregunta_seis.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                Relajarme y dejar de preocuparme por problemas potenciales
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaSeis"
                                                        {% if pregunta_seis.valor == 'A' %}
                                                       checked="checked" {% endif %}> Ponerme
                                                nervioso por problemas potenciales
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 7. He sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="G"
                                                       name="preguntaSiete"
                                                        {% if pregunta_siete.valor == 'G' %}
                                                       checked="checked" {% endif %}>
                                                Un sobreviviente astuto
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaSiete"
                                                        {% if pregunta_siete.valor == 'D' %}
                                                       checked="checked" {% endif %}> Un
                                                idealista con altos estándares
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 8. He necesitado o preferido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F" name="preguntaOcho"
                                                        {% if pregunta_ocho.valor == 'F' %}
                                                       checked="checked" {% endif %}>
                                                Mostrar afecto a la gente
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="H" name="preguntaOcho"
                                                        {% if pregunta_ocho.valor == 'H' %}
                                                       checked="checked" {% endif %}> Mantener
                                                algo de distancia con la gente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 9. Cuando tengo nuevas experiencias, usualmente me pregunto... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaNueve"
                                                        {% if pregunta_nueve.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                Si hubiera sido útil para mi
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaNueve"
                                                        {% if pregunta_nueve.valor == 'I' %}
                                                       checked="checked" {% endif %}> Si
                                                hubiera sido agradable para mi
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 10. He tendido a enfocarme demasiado... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E" name="preguntaDiez"
                                                        {% if pregunta_diez.valor == 'E' %}
                                                       checked="checked" {% endif %}>
                                                En mi mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="A" name="preguntaDiez"
                                                        {% if pregunta_diez.valor == 'A' %}
                                                       checked="checked" {% endif %}> En los
                                                demás
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 11. Otras personas han dependido de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H" name="preguntaOnce"
                                                        {% if pregunta_once.valor == 'H' %}
                                                       checked="checked" {% endif %}>
                                                Mis conocimientos e intuición
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaOnce"
                                                        {% if pregunta_once.valor == 'G' %}
                                                       checked="checked" {% endif %}> Mi
                                                fortaleza y determinación
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 12. He dado la impresión de... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B" name="preguntaDoce"
                                                        {% if pregunta_doce.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                No ser muy seguro de mi mismo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaDoce"
                                                        {% if pregunta_doce.valor == 'D' %}
                                                       checked="checked" {% endif %}> Ser
                                                demasiado seguro de mi mismo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 13. He estado más orientado a... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaTrece"
                                                        {% if pregunta_trese.valor == 'F' %}
                                                       checked="checked" {% endif %}>
                                                Las relaciones que a las metas
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="C" name="preguntaTrece"
                                                        {% if pregunta_trese.valor == 'C' %}
                                                       checked="checked" {% endif %}>Las
                                                metas que a las relaciones
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 14. Cuando se trata de defender mi punto de vista... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="E"
                                                       name="preguntaCatorce"
                                                        {% if pregunta_catorce.valor == 'E' %}
                                                       checked="checked" {% endif %}> He sido débil
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaCatorce"
                                                        {% if pregunta_catorce.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                He sido fuerte
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 15. Me ha sido difícil... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="H"
                                                       name="preguntaQuince"
                                                        {% if pregunta_quince.valor == 'H' %}
                                                       checked="checked" {% endif %}>
                                                Dejar de considerar alternativas y hacer algo concreto
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaQuince"
                                                        {% if pregunta_quince.valor == 'D' %}
                                                       checked="checked" {% endif %}>Tomar
                                                las cosas con calma y ser más flexible
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 16. He tendido la tendencia a ser... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaDieciseis"
                                                        {% if pregunta_diesiseis.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                Cuidadoso e indeciso
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="G" name="preguntaDieciseis"
                                                        {% if pregunta_diesiseis.valor == 'G' %}
                                                       checked="checked" {% endif %}>
                                                Atrevido y dominante
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 17. He tenido problemas con la gente por... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="A"
                                                       name="preguntaDiecisiete"
                                                        {% if pregunta_diesisiete.valor == 'A' %}
                                                       checked="checked" {% endif %}>
                                                Mi resistencia a comprometerme
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="F" name="preguntaDiecisiete"
                                                        {% if pregunta_diesisiete.valor == 'F' %}
                                                       checked="checked" {% endif %}>
                                                Hacer que dependan de mi
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 18. Cuando se trata de mis sentimientos... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="C"
                                                       name="preguntaDieciocho"
                                                        {% if pregunta_diesiocho.valor == 'C' %}
                                                       checked="checked" {% endif %}>
                                                Los he tenido que hacer a un lado para realizar mi trabajo
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="E" name="preguntaDieciocho"
                                                        {% if pregunta_diesiocho.valor == 'E' %}
                                                       checked="checked" {% endif %}> Los
                                                he tenido que analizar para seguir adelante
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 19. Generalmente he sido... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="B"
                                                       name="preguntaDiecinueve"
                                                        {% if pregunta_diesinueve.valor == 'B' %}
                                                       checked="checked" {% endif %}>
                                                Metódico y precavido
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="I" name="preguntaDiecinueve"
                                                        {% if pregunta_diesinueve.valor == 'I' %}
                                                       checked="checked" {% endif %}>
                                                Aventurero y he tomado riesgos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div>
                                        <div class="col-md-12">
                                            <h3> 20. He sido una persona... </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" required value="F"
                                                       name="preguntaVeinte"
                                                        {% if pregunta_veinte.valor == 'F' %}
                                                       checked="checked" {% endif %}>
                                                Generosa, que da apoyo y busca intimidad con otros
                                            </label>
                                        </div>
                                    </div>
                                    <br><br><br><br>

                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 radio">
                                            <label>
                                                <input type="radio" class="flat" value="D" name="preguntaVeinte"
                                                        {% if pregunta_veinte.valor == 'D' %}
                                                       checked="checked" {% endif %}> Seria
                                                y reservada que le gustaría discutir sobre cualquier tema
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                                        <a style="width: 40%" class="btn btn-info"
                                           href="{% url 'Eneagrama:borrar_sesion' %}">Regresar
                                        </a>
                                        <button type="submit" style="width: 40%" class="btn btn-success">Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            if (document.cookie.indexOf('visited=true') == -1) {
                // load the overlay
                $('#Modal').modal({show: true});
            }
        });
    </script>
{% endblock %}